{% extends 'base_generic.html' %}

{% block content %}
  <h1>Author List</h1>
  <button onclick="location.href='{% url "author-create" %}'">Create New</button>
  {% if author_list %}
  <ul>
    {% for author in author_list %}
      <li>
        <a href='{{ author.get_absolute_url }}'>{{ author.first_name }} {{author.last_name}} </a>
        <a href="{% url 'author-update' author.pk %}">Renew</a>
        <a href="{% url 'author-delete' author.pk %}">Delete</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no authors.</p>
  {% endif %}
{% endblock %}